body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li button {
  margin-right: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  text-align: left;

  border: 2px solid forestgreen;
  padding: 10px;

}
 
li {
  border: 2px solid paleturquoise;
  margin: 10px;
  padding: 10px; 
}

.App {
  margin: 0 auto;
  width: 50%;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;

  border: 2px solid purple;
  padding: 10px;
}

input[type="submit"] {
  width: 10%;
}

body {
  width: 100vw;
  margin: 0;
}

h1 {
  text-align: center;

  border: 2px solid red;
  padding: 10px;

}

#root {
  width: 100vw;
}

input[type="checkbox"] {
  margin-right: 15px;
}
